.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    height: 50px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px;
    font-weight: 900;

    &:hover {
        background-color: #fff;
    } 
    &:focus {
        outline: none;
    }
    
    &.selected {
        background-color: #596fef;
        color: #fff;
    }
}